* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-container {
  background-color: white;
  width: 450px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  
}

.title {
  background-color: #0078d7;
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;             
  border-radius: 4px 0 0 4px;      
}

.input-group input[type="submit"] {
  padding: 10px 15px;
  background-color: #0078d7;
  color: white;
  border: 1px solid #0078d7;
  border-radius: 0 4px 4px 0;      
  cursor: pointer;
  width: auto;
}

.task-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  background-color: #e6f3f7;
  padding: 12px;
  border-radius: 6px;
  border: lightgray 1px solid;
  text-align: center;
}

.completed {
  background-color: #a9d18e;
  text-decoration: line-through;
  border: lightgray 1px solid;
}
