body {
	font-family: Monserrat, sans-serif;
	margin: 20px;
    justify-content: center;
    display: flex;
}   

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 20px;
}

button {
	padding: 6px 10px;
	border: 1px solid #999;
	background: #eee;
	cursor: pointer;
}

section {
	margin-top: 14px;
}

section > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #999;
	background: #dff6fb;
	padding: 8px 10px;
	margin-bottom: 8px;
	width: 320px;
}

section > div button {
	border: none;
	background: transparent;
	font-weight: bold;
	cursor: pointer;
}
