* {
  margin: 0;
  padding: 0;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 10px 30px;
  z-index: 10;
}

.logo img {
  width: 140px;
  margin-left: 120px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.lang-select {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #777;
  color: white;
  padding: 6px 20px;
  border-radius: 4px;
}

.btn-signin {
    background: #e50914;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.hero {
    background:url("img/home_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 525px;
    padding: 110px 30px;
    text-align: center;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 900;
}

.hero h3 {
    font-size: 1rem;
    font-weight: 700;
}

.hero p {
    font-size: 1rem;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    gap: 7px;
}

.email-form input[type="email"] {
    padding: 16px;
    width: 400px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #666;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1rem;
}

.email-form input[type="email"]::placeholder {
    color: #b3b3b3;
}

.email-form input[type="submit"] {
    padding: 16px 24px;
    background: #e50914;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    font-weight: 700;
    width: 180px;
    text-align: left;
    height: 51px;
}

.email-form i {
    margin-left: -45px;
    pointer-events: none;
    color: white;
    font-size: 1rem;
}

.trending {
    background: black;
    color: white;
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
}

.trending h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 40px;

}

.trending-filters {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    margin-left: 40px;

}

.trending-filters select {
    background: #0f0f0f;
    color: white;
    padding: 8px 18px 8px 8px;
    border: 1px solid #777;
    border-radius: 4px;
    cursor: pointer;
}

.trending-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 15px;
}

.poster-item {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    width: 200px;
}

.poster {
    width: 170px;
    height: 250px;
    border-radius: 6px;
    flex-shrink: 0;
    object-fit: cover;
    transition: 0.4s all ease-in-out;
}

.trending-row span {
    font-size: 9rem;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
    color: #000000;
    font-weight: 700;
    position: absolute;
    bottom: -1rem;
    left: -1.5rem;
    z-index: 11;
    transition: 0.4s all ease-in-out;
}

.features {
    background: black;
    color: white;
    padding: 35px 6px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.features h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 40px;
}

.feature-cards {
    display: flex;
    width: 100%;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-card {
    background: linear-gradient(145deg, #1a1a2e, #111);
    border-radius: 12px;
    padding: 20px 14px;
    width: 260px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

.feature-card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature-card p {
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #ccc;
}

.feature-icon {
    width: 40px;
    height: 40px;
    align-self: flex-end;
}

.faqs h2{
    font-size: 20px;
    color: white;
    margin-left: 40px;
}

.faq-list {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.faq-item {
    background: #1f1f1f;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    padding: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    background: #2d2d2d;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
}

.faq-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg); /* changes + to x shape when active */
}

.faq-email-form {
    margin-top: 40px;
    text-align: center;
}

.faq-email-form p {
    font-size: 12px;
    margin-bottom: 15px;
}

.faq-email-form .email-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.faq-email-form input[type="email"] {
    padding: 16px;
    width: 400px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #666;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-size: 1rem;
}

.faq-email-form button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 30px;
    background: #e50914;
    color: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    height: 52px;
}

.site-footer {
    background-color: #000000;
    color: #b3b3b3;
    padding: 40px 20px;
    font-size: 0.9rem;
}

.site-footer a {
    color: #b3b3b3;
    text-decoration: none;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    font-size: 12px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 70px;
    list-style: none;
    padding: 20px 0;
}

.footer-links li a{
    margin-bottom: 10px;
    text-decoration: underline;
}

.footer-language-form select {
    background: transparent;
    border: 1px solid #757575;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.footer-copy {
    color: #b3b3b3;
}
