* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    padding: 0;
    min-height: 100vh;
    background: #ffffff;
    margin-top: 57px;
    overflow-x: hidden;
} 

header {
    background-color: #f8f9f9;
    border-bottom: 1px solid #e4e6e8;
    top: 0;             
    z-index: 1000;    
    width: 100%;
    margin: 0 auto;
    padding: 8px 16px;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;  
}

.logo img {
    height: 32px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: #636B74;
    font-size: 14px;
    padding: 6px;
}

form {
    display: flex;
    align-items: center;
    gap: 12px;
}

form input {
    width: 700px;
    padding: 8px 10px;
    border: 1px solid #babfc4;
    border-radius: 4px;
    font-size: 14px;
}

.auth-buttons {
    display: flex;
    gap: 8px;
    margin-left: 12px;
    text-decoration: none;
}

.login-btn {
    padding: 8px 12px;
    background: transparent;
    border: 1px solid #1B75D0;
    color: #39739d;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.signup-btn {
    padding: 8px 12px;
    background-color: #1B75D0;
    border: 1px solid #1B75D0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

aside{
    width: 260px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 40px;
    background-color: rgb(255, 255, 255);
    height: auto;
    flex-shrink: 0;
}

.main-wrapper {
    width: 75%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px 0 30px 0;
}
aside nav .labs-text{
    font-weight: bold;
    font-size: 12px;
}
aside nav ul li a {
    display: flex;
    align-items: center;
    gap: 8px;            
    padding: 0 110px;
    color: #3b4045;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
}

.stack-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    padding: 60px 40px;
    background: #f8f9f9;
    margin-bottom: 20px;
    
}

.stack-hero-text {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 10;
}

.stack-hero-text h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 1000;    
    color: #3B4045;
}

.stack-hero-text h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-weight: 800;
    color: #3B4045;
}

.stack-hero-text h2 span {
    color: white;
    font-family: 'Roboto Slab', serif;
    position: relative;
    display: inline-block;
}

.stack-hero-text h2 span .bg-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: auto;
    z-index: -1;
}

.stack-hero-text p {
    font-size: 19px;
    color: #3b4045;
    line-height: 1.6;
    text-align: left;
}

.hero-actions {
    display: flex;
    gap: 15px;
}

.btn-signup {
    background: #1B75D0;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    height: 22px;
}

.btn-visit {
    color: #0a95ff;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

.hero-image {
    position: relative;
}

.hero-image .bg-image {
    position: absolute;
    right: 690px;  
    top: -125px;
    width: 190px;
    height: auto;
    z-index: 0;
}

.hero-image .developer-image {
    position: absolute;
    right: -10px;  
    top: -60px;
    width: 460px;
    height: auto;
    z-index: 2;
}

.section-header-text {
       margin: 20px 0 40px 0;
}
.section-header-text h2 {
    font-size: 18px;
    font-weight: 500;
    color: #3b4045;
}

.info-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    padding: 85px 40px;
    background: #ffffff;
    margin: 20px 0;
    border: #e4e6e8 1px solid;
    border-radius: 6px;
    height: 90px;
}

.info-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-content .section-logo {
    width: 150px; 
    height: auto;
}

.info-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    max-width: 400px;
}

.section-actions {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.section-actions .btn-signup {
    background-color: #1B75D0;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    height: 18px;
}

.section-actions .btn-visit {
    color: #0a95ff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
}

.section-image {
    width: 550px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.overflow-ai-section {
    background-color: #3B4045;  
    padding: 40px 40px;
    height: auto;
}

.overflow-ai-section .info-content p {
    color: white;
    font-size: 16px;
    line-height: 1.5;
    max-width: 400px;
}

.overflow-ai-section .info-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-explore-ai {
    background-color: #E7700D; 
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: background 0.3s ease;
}

.info-section.enterprise-section {  
    height: 60px;
}

.section-image-enterprise {
    width: 600px;
    height: auto; 
    top: -40px;  
    position: relative;
}

.advertising-api-section {
    display: flex;
    gap: 20px;               
    justify-content: space-between;
    padding: 20px 0;
    background-color: #ffffff;
    width: 93%;
    margin: 20px 0;
}

.advertising-api-section .ad-api-container {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #e4e6e8;
    border-radius: 6px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

 .ad-api-container .container-logo {
    width: 180px;
    height: auto;
}

.ad-api-container h3 {
    font-size: 20px;
    font-weight: 700;
    color: #3b4045;
}

.ad-api-container p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

.container-actions {
    margin-top: 10px;
}

.container-actions .btn-container {
    background-color: #1B75D0;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.btn-last {
    color: #0a95ff;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    text-decoration: underline;
}

@media (max-width: 1023px) {
    header {
        flex-wrap: wrap;
    }

    form input {
        width: 100%;
        max-width: 100%;
    }

    .auth-buttons {
        margin-right: 20px;
        width: auto;
        height: auto;
    }

    nav ul {
        gap: 10px;
    }

    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
        padding: 90px 45px 20px 65px;
        border-bottom: 1px solid #eee;
        flex-direction: row;
    }

    aside nav ul {
        flex-direction: row;
        gap: 15px;
        margin: 0;
    }

    .main-wrapper {
        width: 100%;
        align-items: center;
    }

    .btn-container {
        width: 10px;
    }

    .stack-hero {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 40px 10px;
        height: auto;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-image .developer-image {
        position: static;
        width: 90%;
        max-width: 350px;
        margin: 0 auto;
        height: auto;
        display: block;
    }

    .hero-image .bg-image {
        display: none;
    }

    .hero-actions {
        justify-content: center;
    }

    .info-section {
        flex-direction: column;
        height: auto;
        padding: 40px 10px;
        text-align: left;
    }

    .section-image {
        position: static;
        width: 80%;
        margin-top: 20px;
        
    }

    .section-image-enterprise {
        position: static;
        width: 60%;
        margin-top: 20px;
    }

    .advertising-api-section {
        flex-direction: column;
        width: 93%;
        padding: 20px 0px;
    }

    .info-section.enterprise-section {
        height: auto;
        text-align: left;
    }
}

@media (max-width: 480px) {

    header {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

    nav ul {
        justify-content: center;
    }

    .auth-buttons {
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .login-btn, .signup-btn {
        flex: 1;
        text-align: center;
    }

    aside nav ul li a {
        padding: 5px 10px 15px 0px;
        font-size: 15px;
    }

    .stack-hero-text h2 {
        font-size: 26px;
    }

    .section-logo {
        width: 120px;
    }

    .btn-last {
        font-size: 10px;
    }
    
}

@media (min-width: 1024px) {
    

}

@media (min-width: 1024px) and (max-width: 1366px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 16px;
        gap: 12px;
    }

    nav ul {
        gap: 10px;
        flex-wrap: wrap;
    }

    form {
        width: 50%;
    }

    form input {
        width: 100%;
        max-width: 420px;
    }

    main {
        flex-direction: column;
    }

    aside {
        display: none;
    }

    .main-wrapper {
        width: 100%;
        align-items: center;
    }

    .auth-buttons {
        margin-right: 20px;
        width: 100%;
        height: auto;
    }

    .stack-hero {
        flex-direction: column;
        width: 100%;
        padding: 40px 24px;
        gap: 24px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-image .developer-image {
        position: static;
        width: 90%;
        max-width: 420px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .hero-image .bg-image {
        display: none;
    }

    .info-section {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 40px 24px;
    }

    .section-image,
    .section-image-enterprise {
        position: static;
        width: 75%;
        max-width: 520px;
        margin-top: 20px;
    }

    .advertising-api-section {
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
    }
}


